<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create account ok</title>
    <link rel="stylesheet" href="../../../static/css/owner/create_account_result.css">

</head>
<body>


    <div id="result_container">
        <div class="side_logo"><a th:href="@{/오너홈}"><img th:src="@{/image/logo.png}">로고자리</a></div>
        <div class="result">
            <h2>회원가입이 완료되었습니다.</h2>
            <a th:href="@{홈 매핑}">홈으로</a>
            <a th:href="@{로그인매핑}">로그인</a>
        </div>
    </div>

</body>
</html>