<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner register</title>
    <link rel="stylesheet" th:href="@{/css/owner/create_account_form.css}"/>
    <script type="text/javascript" th:src="@{/js/owner/create_account_form.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
</head>
<body>

<!--owner 회원가입-->
<div id="register_container">
    <div class="side_logo"><a th:href="@{/home}"><img th:src="@{/image/logo_orange_Removal.png}"></a></div>
    <h3>사업자 회원가입</h3>
    <div id="register_wrap">
        <form th:action="@{/회원가입하고 넘어갈 위치}" th:method="post">
            <div class="form_list">
                <div class="form_item"><label for="id"></label>
                    <input type="text" id="id" name="owner_id" placeholder="아이디를 입력하세요" autofocus >
                </div>
                <div class="form_item"><label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
                </div>
                <div class="form_item"><label for="password_check"></label>
                    <input type="password" id="password_check" name="password_again" placeholder="비밀번호를 다시 입력하세요">
                </div>
            </div>
            <div class="form_list">
                <div class="form_item"><label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
                </div>
                <div class="form_item"><label for="email"></label>
                    <input type="email" id="email" name="mail" placeholder="이메일을 입력하세요">
                </div>
                <div class="form_item"><label for="phone"></label>
                    <input type="tel" id="phone" name="phone" placeholder="전화번호를 입력하세요">
                </div>
                <div class="form_item">
                    <label for="gender"></label>
                    <select name="gender" id="gender">
                        <option value="M">남자</option>
                        <option value="W">여자</option>
                    </select>
                </div>
                <div class="form_item">
                    <label for="region"></label>
                    <select name="region" id="region">
                        <option value="02">서울</option>
                        <option value="031">경기</option>
                        <option value="032">인천</option>
                        <option value="053">대구</option>
                        <option value="051">부산</option>
                        <option value="052">울산</option>
                        <option value="062">광주</option>
                        <option value="033">강원</option>
                        <option value="043">충북</option>
                        <option value="041">충남</option>
                        <option value="054">경북</option>
                        <option value="055">경남</option>
                        <option value="063">전북</option>
                        <option value="061">전남</option>
                        <option value="064">제주</option>
                    </select>
                    <div class="form_item">
                        <label for="business_number"></label>
                        <input type="text" id="business_number" name="brn" placeholder="사업자등록번호를 입력하세요">
                    </div>
                </div>
            </div>
            <button class="regi_button" type="submit" th:onclick="@{/보낼곳 맵}">Submit</button>
        </form>
        <div class="account_links">
            <a th:href="@{/ownerlogin}">로그인 페이지로 이동</a>
        </div>
    </div>
</div>

</body>
</html>