<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>User modify account</title>
    <link th:inline="css" rel="stylesheet" th:href="@{/css/owner/modify_account_form.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> <!--임포트: jquery를 js에서 사용하기 위해서 -->
    <script type="text/javascript" th:src="@{/js/owner/modify_account_form.js}"></script>
    <script type="text/javascript" th:src="@{/js/user/deleteInfo.js}"></script>
</head>

<body>
<div th:replace="~{user/include/nav :: NavFragment}"></div>
<div id="modify_container">
    <h1>개인정보 수정</h1>
    <div id="modify_wrap">
        <table>
            <tbody>
                <tr th:each="room: ${roomList}">
                    <td th:text="${room.size}"></td>
                    <td th:text="${room.remain}"></td>
                    <td th:text="${room.price}"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>