<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
    <head>

        <head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Simple Sidebar - Start Bootstrap Template</title>

            <title>Simple Sidebar - Start Bootstrap Template</title>
            <style>
                .test {
                    width: 100vw;
                    height: 50vh;
                    background-color: aqua;
                }
            </style>
        </head>

    <body>

                <div class="header">
                    <h1>HEADER</h1>

                <th:block th:replace = "${content}">
                    <div class="test">

                    </div>
                </th:block>
<div class="footer">
    <h1>FOOTER</h1>





    </body>
</th:block>
</html>

