<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>User modify account</title>
        <link  th:inline="css" rel="stylesheet" th:href="@{/css/user/cartInfoForm.css}"/>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script> <!--임포트: jquery를 js에서 사용하기 위해서 -->
        <script type="text/javascript" th:src="@{/js/user/cartList.js}"></script>
</head>

<body>
<div th:replace="~{user/include/nav :: NavFragment}"></div>
<div id="modify_container">
    <h1>개인정보 수정</h1>
    <div id="modify_wrap">
        <form th:action="@{/user/updateCart}" th:method="post" id="form1">
            <!--readonly 혹은 disabled 있으면 백엔드로 데이터가 안 넘어가져서 히든으로 넘기기-->
            <input type="hidden" id="roomNo" name="roomNo" value="">
            <input type="hidden" id="orderNo" name="orderNo" th:value="${cart.orderNo}">
            <input type="hidden" id="userNo" name="userNo" th:value="${cart.userMember.userNo}">
            <input type="hidden" id="price" name="price" th:value="${cart.room.price}">
            <div class="form_list">
                <div class="form_item">
                    <label for="storeName">매장명</label>
                    <input type="text" id="storeName" name="storeName" th:value="${cart.room.store.storeName}" readonly disabled>
                </div>
                <div class="form_item">
                    <label for="startDate">사용 시작일</label>
                    <input id="startDate" name="startDate" th:value="${cart.startDate}" type="date">
                </div>
                <div class="form_item">
                    <label for="endDate">사용 종료일</label>
                    <input id="endDate" name="endDate" th:value="${cart.endDate}" type="date">
                </div>
                <div class="form_item">
                    <label for="sizeType">사이즈</label>
                    <select id = "sizeType">
                        <th:block th:each="room : ${roomList}">
                            <option th:value="${room.roomNo}" th:text="${room.size}" th:selected="${cart.room.size} == ${room.size}" readonly></option>
                        </th:block>
                    </select>
                </div>
                <div class="form_item">
                    <label for="totalAmount">수량</label>
                    <input id="totalAmount" name="totalAmount" th:value="${cart.totalAmount}" type="number">
                </div>
                <div class="form_item">
                    <label for="totalPrice">가격</label>
                    <input id="totalPrice" name="totalPrice" th:value="${cart.totalPrice}" type="text" readonly disabled>
                </div>
            </div>
            <button class="modify_button" type="button" onclick = "updateCart()">modify</button>
            <button class="modify_button" type="reset"> reset </button>
        </form>
    </div>
</div>
</body>
</html>