<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" th:href="@{/css/user/list.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script> <!--임포트 -->
    <script type="text/javascript" th:src="@{/js/user/cartList.js}"></script>
</head>
<body>
<!-- Navigation: 네브바-->
<div id="nav_wrap" th:replace="/user/include/nav::NavFragment"></div>
<div class="list_wrap">
    <form id="form1">
        <input type="hidden" id="page" name="page" value="1"> <!--page 값 넘기기-->
        <button type = "button" th:onclick="|javascript:deleteAllCart()|">전체 삭제</button>
        <!--이 부분을 cartListAjax.html과 연결해서 여기에 해당 파일이 삽입!-->
        <div id="cartListForm">
        </div>
    </form>
</div>
</body>
</html>