<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User loginFrom</title>
    <link rel="stylesheet" th:href="@{/css/user/login_form.css}"/>
    <script type="text/javascript" th:src="@{/js/user/login_form.js}"></script>
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>
</head>
<body>
    <div id="login_container">
        <div class="side_logo"><a th:href="@{유저 홈}"><img th:src="@{/image/logo_orange_Removal.png}"></a> </div>
        <h1> 유저 로그인</h1>
        <div id="login_wrap">
            <form th:action="@{/로그인하고 넘어갈 위치}" th:method="post">
                <div class="form_list">
                    <div class="form_item">
                        <label for="id">아이디</label>
                        <input type="text" id="id" name="user_id" placeholder="아이디를 입력하세요" autofocus>
                    </div>
                    <hr>
                    <div class="form_item">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
                    </div>
                </div>
                <button class="login_button" type="submit" th:onclick="@{/보낼곳 맵}">Submit</button>
            </form>
            <div class="account_links">
                <a th:href="@{/유저 아이디 찾기}">아이디 찾기</a>
                <a th:href="@{/유저 비밀번호 찾기}">비밀번호 찾기</a>
                <a th:href="@{/유저 회원가입}">회원가입</a>
            </div>
        </div>
    </div>
</body>
</html>