<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Form</title>
    <link rel="stylesheet" th:href="@{/css/user/reset_password_form.css}"/>
</head>
<body>
<div id="reset_password_container">
    <h1>비밀번호 재설정</h1>
    <div id="reset_password_wrap">
        <form th:action="@{/user/reset_password_form}" method="post">
            <div class="form_item">
                <label for="userId">아이디</label>
                <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요" autofocus required>
            </div>
            <div class="form_item">
                <label for="email">이메일 주소</label>
                <input type="email" id="email" name="mail" placeholder="이메일 주소를 입력하세요" required>
            </div>
            <button class="reset_button" type="submit">이메일 전송</button>
        </form>
    </div>
</div>
</body>
</html>
