<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/board/list.css">
<!--    <link th:inline="css" th:href="@{/css/board/list.css}" rel="stylesheet"/>-->
</head>
<body>
<div class="side_bar">
    <div class="visual_title"><span>고객센터</span></div>
    <ul>
        <div class="side_list">
            <li class="side_item"><a th:href="@{/board/noticeList}">공지사항</a></li>
<!--            <li class="side_item"><a th:href="@{/이벤트}">이벤트</a></li>-->
            <li class="side_item"><a th:href="@{/1:1문의}">1:1문의</a></li>
        </div>
    </ul>
</div>

<div class="list_wrap">
    <h1 class="board_title">공지사항</h1>
    <table class="board_content" cellspacing="0">
        <caption>게시판 리스트</caption>
        <colgroup>
            <col width="80">
            <col>
            <col width="50">
            <col width="90">
            <col width="100">
            <col width="60">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">첨부</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="content_num" th:text="${board.boardNo}"></td>
            <td class="title" th:text="${board.title}">
                <a  th:href="@{'/board/read/' + ${board.boardNo}}"></a>
            </td>
            <td class="file"></td>
            <td class="name" th:text="${board.admin.Name}"></td>
            <td class="date" th:text="${board.regDate} ?: ''"></td>
            <td class="hit" th:text="${board.cnt}"></td>
            <!-- Add more columns as needed -->
        </tr>
        </tbody>
    </table>
    <div class="buttons_wrap">
        <button type="button" class="list_buttons"><a href="#"> << </a></button>
        <button type="button" class="list_buttons"><a href="#">1</a></button>
        <button type="button" class="list_buttons"><a href="#">2</a></button>
        <button type="button" class="list_buttons"><a href="#">3</a></button>
        <button type="button" class="list_buttons"><a href="#">4</a> </button>
        <button type="button" class="list_buttons"><a href="#">5</a> </button>
        <button type="button" class="list_buttons"><a href="#">6</a> </button>
        <button type="button" class="list_buttons"><a href="#">7</a> </button>
        <button type="button" class="list_buttons"><a href="#">8</a> </button>
        <button type="button" class="list_buttons"><a href="#">9</a> </button>
        <button type="button" class="list_buttons"><a href="#">10</a> </button>
        <button type="button" class="list_buttons"><a href="#"> >> </a></button>
    </div>
</div>
</body>
</html>