<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/board/list.css">
        <link th:inline="css" th:href="@{/css/board/list.css}" rel="stylesheet"/>
</head>
<body id="list_container">
<div class="side_bar">
    <div class="visual_title"><span>고객센터</span></div>
    <ul>
        <div class="side_list">
            <li class="side_item"><a th:href="@{/board/noticeList}">공지사항</a></li>
            <li class="side_item"><a th:href="@{/inquary/list}">1:1문의</a></li>
        </div>
    </ul>
</div>

<div class="list_wrap">
    <h1 class="board_title">공지사항</h1>
    <table class="board_content" cellspacing="0">
        <colgroup>
            <col width="30">
            <col width="200">
            <col width="50">
            <col width="50">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <td scope="row"> [[${dto.boardNo}]] </td>
                <td class="list_title"><a th:href="@{/board/read(boardNo=${dto.boardNo},
                page=${result.page},
                type=${pageRequestDTO.type},
                keyword=${pageRequestDTO.keyword})}">
                    [[${dto.title}]] [<b th:text="${dto.AdminAnswerCount}"></b>] </a></td>
                <td><p th:text="${dto.writerName}"></p></td>




                <!--                <td><p th:text="${adminMember.adminId}"></p></td>★★★★★★★★★★★★어드민 아이디나 이름 ★★★★★★-->





                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
        </tbody>
    </table>
    <span>
        <a th:href="@{/board/register}">
            <button type="button" class="option_button">글작성</button>
        </a>
    </span>

    <ul class="pagination buttons_wrap">
        <li class="page-item " th:if="${result.prev}">
            <a class="page-link" th:href="@{/board/noticeList(page= ${result.start -1},
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">Previous</a>
        </li>
        <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
            <a class="page-link" th:href="@{/board/noticeList(page = ${page} ,
                   type=${pageRequestDTO.type} ,
                   keyword = ${pageRequestDTO.keyword}  )}">
                [[${page}]]
            </a>
        </li>
        <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/board/noticelist(page= ${result.end + 1} ,
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} )}">Next</a>
        </li>
    </ul>
</div>
</body>
</html>
