<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register New Board</title>
</head>
<body>
<h1>Register New Board</h1>
<form action="/board/register" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br>

    <label for="thumbnail">Thumbnail URL:</label><br>
    <input type="text" id="thumbnail" name="thumbnail"><br>

<!--    <label for="writerMail">Writer Email:</label><br>-->
<!--    <input type="email" id="writerMail" name="writerMail" required><br>-->

    <label for="writerName">Writer Name:</label><br>
    <input type="text" id="writerName" name="writerName" required><br>

    <label for="boardType">Board Type:</label><br>
    <select id="boardType" name="boardType">
        <option value="A">Type A</option>
        <option value="B">Type B</option>
        <option value="C">Type C</option>
    </select><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>


