<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>loginMain</title>
    <link rel="stylesheet" th:href="@{/css/common/check_position.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}"/>


</head>
<body>
<div id="ck_container">
    <div class="side_logo"><a th:href="@{/home}"><img th:src="@{/image/logo_orange_Removal.png}"></a></div>
    <div> <span> 로그인 </span></div>
    <ul>
        <li>
            <a th:href="@{/owner/login_form}">사업자</a>
        </li>
        <li>
            <a th:href="@{/user/login_form}">일반회원</a>
        </li>
        <li>
            <a th:href="@{/admin/login_form}">관리자</a>
        </li>
    </ul>
</div>

</body>
</html>