<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header id="header">
    <div id="header_wrap">
        <div class="logo">
            <a th:href="@{/메인홈}">
                <img th:src="@{/로고}">
            </a>
        </div>

        <!-- header top bar-->
        <div class="top_bar">
            <div class="site">
                <ul class="site_list">
                    <li class="site_item"><a th:href="@{/공지사항}" target="_blank">공지사항</a></li>
                    <li class="site_item"><a th:href="@{/고객센터}" target="_blank">고객센터</a></li>
                </ul>
            </div>
            <div class="account_link">
                <ul class="link_list">
                    <li class="link_item"><a th:href="@{/로그인}">로그인</a></li>
                    <li class="link_item"><<a sec:authorize="isAuthenticated()"th:href="@{/로그아웃}">로그아웃</a></li>
                    <li class="link_item"><a th:href="@{/회원가입}">회원가입</a></li>
                </ul>
            </div>
        </div>


        <!--    header search-->
        <div id="search">
            <form class="search_form">
                <input class="search_input" type="search" placeholder="검색어를 입력해주세요.">
                <button class="search_button" type="submit" value="">검색</button>
            </form>
            <div class="search_list_wrap">
                <ul class="search_list">
                    <li class="search_item"><a th:href="@{/none}">#서울</a></li>
                    <li class="search_item"><a th:href="@{/none}">#경기</a></li>
                    <li class="search_item"><a th:href="@{/none}">#개인창고</a></li>
                    <li class="search_item"><a th:href="@{/none}">#할인</a></li>
                    <li class="search_item"><a th:href="@{/none}">#카페창고</a></li>
                </ul>
            </div>  <!-- search_list_wrap -->
        </div> <!-- search -->
    </div> <!-- header_wrap -->
</header>

</body>
</html>