.store_container {
    flex-direction: row;
    /*display: flex;  !* 가로 정렬 *!*/
    justify-content: space-between; /* 각 요소 사이의 간격을 최대화하여 가로로 정렬 */
    margin-top: 60px;
    height: auto;
    min-height: 1000px;
    width: 1400px;
}

.store_container .store_name {
    font-size: 3.0em;
    font-weight: bold;
    margin: 60px 30px 0 30px;
    background-color: #fff5da;
}
.detail_col1 {
    width: 100%;
    /*background-color: lightpink;*/
    height: 550px;
    display: flex;
    padding: 10px;
}

.detail_row1 {
    width: 1000px;
    margin: 20px 20px;
    padding: 10px;
    background-color: #ffffff;
}
.detail_row1 .thumbnail {
    width: 1000px;
    height: 230px;
    background-color: tan;
    margin-bottom: 15px;
    overflow: hidden; /* 이미지를 넘치지 않도록 설정 */
}
.detail_row1 .thumbnail img {
    width: 100%;
}
.detail_row1 .review {
    width: 1000px;
    height: 150px;
    background-color: green;
}

/*오더창*/
.detail_row2 {
    width: 300px;
    margin: 20px 20px;
    padding: 10px;
    /*background-color: #ffe2e2;*/
}

.detail_row2 .order_tap {
    height: 450px;
    border-radius: 15px;
    padding: 20px;
    background-color: #e1e1e1;
    justify-content: center;
    align-items: center;

}
/*상세정보*/
.detail_col2 {
    width: 100%;
}

.detail_col2 .detail_img {
    /*overflow: hidden; !* 이미지를 넘치지 않도록 설정 *!*/
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}
.detail_col2 .detail_img img {
    width: auto; /* 이미지의 너비를 자동으로 조정하여 비율 유지 */
    max-width: 100%; /* 최대 너비 지정 */
    height: auto; /* 높이도 자동으로 조정 */
}
.detail_col3 {
    width: 100%;
    padding: 10px;
    height: 250px;
}

.detail_col3 .detail_info {
    display: flex;
}
.detail_notice {
    width: 1000px;
    height: 200px;
    /*background-color: #ffffff;*/
    margin: 20px 20px;
    padding: 10px;
}

.detail_address {
    width: 300px;
    height: 260px;
    background-color: white;
    border: 1px solid black;
    margin: 20px 20px;
    padding: 10px;
}

.detail_address iframe{
    width : 250px;
    height: 200px;
    border: 0;
}
form hr {
    /* background: #a2c4f3; */
    background-color: #fc9f27;
    height: 1px;
    border: 0;
}

.form_list input {
    border: none;
    background-color: #fff;
    padding: 10px;
    width: 200px;
    height: 40px;
}

.form_list select {
    border: none;
    padding: 10px;
    width: 200px;
    height: 40px;
}

.form_item {
    margin: 5px;
    padding: 5px;
}

.detail_button {
    background-color: #fc9f27;
    width: 200px;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    margin: 20px 0 0 20px;
}

