<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<link th:href="@{../../static/css/include/footer.css}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="../../../static/css/include/footer.css">
    <title>footer</title>
</head>
<!-- 푸터 -->
<footer th:fragment="footerFragment">
    <div id="footer_wrap">
        <div class="footer_link">
            <div>
                <ul>
                    <li><a th:href="@{/#}">개인정보처리방침</a></li>
                    <li><a th:href="@{/#}">이용약관</a></li>
                    <li><a th:href="@{/#}">저작권정책</a></li>
                    <li><a th:href="@{/#}">찾아오시는길</a></li>
                    <li><a th:href="@{/#}">배너광장</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_content">
            <div class="office_info">
                <p>(00000) 경기도 샌드시 박스구 샌드박스로 0000 / SEND-BOX 콜센터 : 8282-5353</p>
                <p>ⓒ SEND-BOX, ALL RIGHTS RESERVED.</p>
            </div>
            <div class="footer_logo">
                <h1>(로고 이미지)</h1>
            </div>
        </div>
    </div>
</footer>
</html>