#footer_wrap .footer_content {

    border: aqua 1px solid;
}


/*  하단 링크  */
#footer .link {
    height: 55px;
    position: relative;
    background-color: #595959;
    padding: 15px 0 12px 0;
    text-align: left;
    width: 100%;
}
#footer .link .wrap {
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
    padding-left: 20px;
}
#footer .link_item:first-child {
    color: #e47419;
}

#footer .link_item {
    display: inline-block;
    position: relative;
    padding: 0 15px 0 15px;
}
#footer .link_item a:hover {
    text-decoration: underline;
}

/*  하단 정보  */
#footer .footer_content {
    height: 175px;
    position: relative;
    margin-top: 20px;
}
#footer .info {
    display: inline-block;
    margin-top: 10px;
    margin-left: 40px;
    color: #7d7d7d;
    font-size: 15px;
    line-height: 24px;
    vertical-align: top;
}
#footer .footer_logo {
    vertical-align: top;
    float: right;
}
#footer .footer_logo .wa {
    display : inline-block;
    width: 59px;
    height: 43px;
    margin-left: 50px;
}
#footer .footer_logo .asanlogo {
    display: inline-block;
    width: 178px;
    height: 36px;
    margin-left: 50px;
}