<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="mb-3 row">
    <label for="username" class="col-sm-4 col-form-label">id</label>
    <div class="col-sm-6">
        <input type="text" disabled class="form-control" id="username" th:value="${user.userId}">
    </div>
</div>
<div class="mb-3 row">
    <label for="password" class="col-sm-4 col-form-label">비밀번호</label>
    <div class="col-sm-6">
        <input type="password" class="form-control" id="password" name="password"
               onkeyup="passwordCheck(this.value)">
    </div>
</div>
<div class="mb-3 row">
    <label for="email" class="col-sm-4 col-form-label">이메일 주소</label>
    <div class="col-sm-6">
        <input type="email" disabled class="form-control" id="email" th:value="${user.mail}">
    </div>
</div>
<div class="mb-3 row">
    <label for="phone" class="col-sm-4 col-form-label">핸드폰 번호</label>
    <div class="col-sm-6">
        <input type="text" disabled class="form-control" id="phone" th:value="${user.phone}">
    </div>
</div>

</body>
</html>