<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Rooms</title>
</head>
<body>
<h1 th:if="${store != null}">Rooms for <span th:text="${store.storeName}"></span></h1>
<p th:if="${store != null}" th:text="${store.address}"></p>
<p th:if="${store != null}" th:text="${store.phone}"></p>

<table th:if="${room != null}">
    <thead>
    <tr>
        <th>Room Size</th>
        <th>Price</th>
        <th>Remaining</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.size}"></td>
        <td th:text="'$' + ${room.price}"></td>
        <td th:text="${room.remain}"></td>
    </tr>
    </tbody>
</table>



</body>
</html>
