<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create account ng</title>
    <link rel="stylesheet" href="../../../static/css/admin/create_account_result.css">
</head>
<body>


    <div id="result_container">
        <div class="side_logo"><a th:href="@{/어드민홈}"><img th:src="@{/image/logo.png}">로고자리</a></div>
        <div class="result">
            <h2>회원가입이 실패하였습니다.</h2>
            <a th:href="@{회원가입하고 넘어갈 위치}">다시 시도</a>
        </div>
    </div>



</body>
</html>