<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin loginFrom</title>
    <link rel="stylesheet" type="text/css"  href="../../../static/css/admin/login_form.css">
<!--    <link rel="stylesheet" th:href="@{/css/admin/login_form.css}"/>-->
    <script type="text/javascript" th:src="@{/js/admin/login_form.js}"></script>
</head>
<body>
    <div id="login_container">
        <div class="side_logo"><a th:href="@{어드민 홈}"><img th:src="@{/img/logo.png}">로고자리 </a> </div>
        <h1> 어드민 로그인</h1>
        <div id="login_wrap">
            <form th:action="@{/로그인하고 넘어갈 위치}" th:method="post">
                <div class="form_list">
                    <div class="form_item">
                        <label for="id">아이디</label>
                        <input type="text" id="id" name="admin_id" placeholder="아이디를 입력하세요" autofocus>
                    </div>
                    <hr>
                    <div class="form_item">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
                    </div>
                </div>
                <button class="login_button" type="submit" th:onclick="@{/보낼곳 맵}">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>