<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login ok</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin/login_result.css">
</head>
<body>

    <div id="result_container">
        <div class="side_logo"><a th:href="@{/어드민홈}"><img th:src="@{/img/logo.png}">로고자리</a></div>
        <div class="result">
            <h2>로그인이 완료되었습니다.</h2>
            <a th:href="@{어드민홈}">홈으로</a>
        </div>
</body>
</html>