<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Owner Home</title>
</head>
<body>

<section>
    <h3> Owner HOME </h3>
    <div id="home_container">
        <!--    홈 메인부분 전체 콘테이너-->
        <div class="main_group1">
            <!--   메인 첫번 째 행 그룹 (이벤트, 공지사항 슬라이더)-->
            <div class="notice_wrap">
                <!-- 슬라이더 통 래핑-->
                <div class="visual_title">
                    <span>공지사항</span>
                </div>
                <div class="notice_slider">
                    <div class="slide">
                        <a th:href="@{게시글 링크}"><img th:src="@{이미지파일}" alt="notice1"></a>
                    </div>
                    <div class="slide">
                        <a th:href="@{게시글 링크}"><img th:src="@{이미지파일}" alt="notice2"></a>
                    </div>
                    <div class="slide">
                        <a th:href="@{게시글 링크}"><img th:src="@{이미지파일}" alt="notice3"></a>
                    </div>
                    <div class="slide">
                        <a th:href="@{게시글 링크}"><img th:src="@{이미지파일}" alt="notice4"></a>
                    </div>
                    <!--   갯수더 늘릴 수도 있음~-->
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>