<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1 class="mt-4">1:1 문의 상세보기</h1>

<div class="form-group">
    <label>Inquiry Number</label>
    <input type="text" class="form-control" name="inquaryNo" th:value="${dto.inquaryNo}" readonly>
</div>

<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
</div>
<div class="form-group">
    <label>Content</label>
    <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
</div>
<div class="form-group">
    <label>Member</label>
    <input type="text" class="form-control" name="member" th:value="${dto.memberName}" readonly>
</div>
<div class="form-group">
    <label>Registration Date</label>
    <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
</div>

<a th:href="@{/inquary/modify(inquaryNo=${dto.inquaryNo}, page=${pageRequestDTO2.page}, type=${pageRequestDTO2.type}, keyword=${pageRequestDTO2.keyword})}">
    <button type="button" class="btn btn-primary">Modify</button>
</a>

<a th:href="@{/inquary/list(page=${pageRequestDTO2.page}, type=${pageRequestDTO2.type}, keyword=${pageRequestDTO2.keyword})}">
    <button type="button" class="btn btn-info">List</button>
</a>

<div class="mt-4">
    <h5><span class="badge badge-info addReply">Add Reply</span></h5>
    <h5><span class="badge badge-secondary replyCount"> Reply Count [[${dto.replyCount}]]</span></h5>
</div>
<div class="list-group replyList">

</div>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control"  type="text" name="replyText" placeholder="Reply Text...">
                </div>
                <div class="form-group">
                    <input class="form-control"  type="text" name="replyer" placeholder="Replyer">
                    <input type="hidden" name="replyNo">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger replyRemove">Remove</button>
                <button type="button" class="btn btn-warning replyModify">Modify</button>
                <button type="button" class="btn btn-primary replySave">Save</button>
                <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function() {
        var inquaryNo = [[${dto.inquaryNo}]];
        var listGroup = $(".replyList");
        var modal = $('.modal');

        $(".replyCount").click(loadJSONData);

        $(".addReply").click(function () {
            $(".modal-footer .btn").hide();
            $(".replySave, .replyClose").show();
            modal.modal('show').find('input[name="replyText"], input[name="replyer"]').val('');
        });

        $(".replySave").click(function() {
            var reply = {
                inquaryNo: inquaryNo,
                content: $('input[name="replyText"]').val(),
                replyer: $('input[name="replyer"]').val()
            };

            $.ajax({
                url: '/replies',
                method: 'post',
                data: JSON.stringify(reply),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data) {
                    var newReplyNo = parseInt(data);
                    alert(newReplyNo + "번 댓글이 등록되었습니다.");
                    modal.modal('hide');
                    loadJSONData();
                }
            });
        });

        $('.replyList').on("click", ".card-body", function(){
            $("input[name='replyText']").val($(this).find('.card-title').html());
            $("input[name='replyer']").val($(this).find('.card-subtitle').html());
            $(".modal-footer .btn").hide();
            $(".replyRemove, .replyModify, .replyClose").show();
            modal.modal('show');
        });

        $(".replyRemove").on("click", function(){
            var replyer = $("input[name='replyer']").val();
            $.ajax({
                url: '/replies/' + replyer,
                method: 'delete',
                success: function(result) {
                    if (result === 'success') {
                        alert("댓글이 삭제되었습니다");
                        modal.modal('hide');
                        loadJSONData();
                    }
                }
            });
        });

        $(".replyModify").click(function() {
            var replyer = $("input[name='replyer']").val();
            var reply = {
                replyNo: replyer,
                inquaryNo: inquaryNo,
                content: $('input[name="replyText"]').val(),
                replyer: $('input[name="replyer"]').val()
            };

            $.ajax({
                url: '/replies/' + replyer,
                method: 'put',
                data: JSON.stringify(reply),
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    if (result === 'success') {
                        alert("댓글이 수정되었습니다");
                        modal.modal('hide');
                        loadJSONData();
                    }
                }
            });
        });

        function loadJSONData() {
            $.getJSON('/replies/inquary/' + inquaryNo, function(arr){
                var str = "";
                $('.replyCount').html(" Reply Count " + arr.length);
                $.each(arr, function(idx, reply){
                    str += '    <h5 class="card-title">' + reply.content + '</h5>';
                    str += '    <h6 class="card-subtitle mb-2 text-muted">' + reply.replyer + '</h6>';

                    str += '    </div>';
                });
                listGroup.html(str);
            });
        }

        // function formatTime(str){
        //     var date = new Date(str);
        //     return date.getFullYear() + '/' +
        //         (date.getMonth() + 1) + '/' +
        //         date.getDate() + ' ' +
        //         date.getHours() + ':' +
        //         date.getMinutes();
        // }
    });
</script>
</body>
</html>
