<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}"
      layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 class="inquary_title">게시물 등록</h1>
    <form action="/inquary/register" method="post" class="inquary_content">
        <table>
<!--            <tr>-->
<!--                <td><label for="userNo">유저 번호 <span class="requiredDot">*</span></label></td>-->
<!--                <td><input type="text" id="userNo" name="userNo" required placeholder="유저 번호를 입력해주세요"></td>-->
<!--            </tr>-->

            <tr>
                <td><label for="title">제목 <span class="requiredDot">*</span></label></td>
                <td><input type="text" id="title" name="title" required placeholder="제목을 입력해주세요"></td>
            </tr>
            <tr>
                <td><label for="content">내용 <span class="requiredDot">*</span></label></td>
                <td><textarea id="content" name="content" required placeholder="내용을 입력해주세요"></textarea></td>
            </tr>
<!--            <tr>-->
<!--                <td><label for="memberName">작성자 이름 <span class="requiredDot">*</span></label></td>-->
<!--                <td><input type="text" id="memberName" name="memberName" required placeholder="작성자 이름을 입력해주세요"></td>-->
<!--            </tr>-->
        </table>
        <input class="regi_button" type="submit" value="게시글 등록">
    </form>
</body>
</html>