<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Owner nav bar</title>
    <link rel="stylesheet" href="../../../static/css/owner/include/nav.css">
</head>
<body>
<div id="nav_wrap">

    <div class="nav_bar">
        <ul class="lnb_list">
            <li class="lnb_item">
                <a th:href="@{/#}">개인정보 수정</a>
            </li>
            <li class="lnb_item">
                <a th:href="@{/#}">예약 관리</a>
            </li>
            <li class="lnb_item">
                <a th:href="@{/#}">전체 예약 내역</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>